:root {
  --heading-font-family: "Roboto", sans-serif;
  --default-font-family: "Montserrat", sans-serif;
}
body {
  background: black;
}
h1,
p {
  font-family: var(--heading-font-family);
  color: white;
}

h1 {
  font-size: 72px;
  font-weight: bold;
  line-height: 84px;
}
h2 {
  color: white;
}

h4 {
  font-size: 48px;
  color: white;
}
p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

footer {
  margin: 60px 0;
}

footer .email-link {
  text-decoration: none;
  color: white;
  font-size: 24px;
}
footer .email-link:hover {
  color: purple;
}
footer .social-links a {
  margin: 0 20px;
  color: white;
  background: var(--secondary-color);
  padding: 10px 14px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}
footer .social-links a:hover {
  color: purple;
  background: var(--branding-color);
}
footer .contact-box {
  background: rgb(49, 49, 49);
  padding: 30px 120px;
  border-radius: 10px;
}
footer .contact-box p {
  margin: 0;
}
.hero p {
  font-size: 24px;
  font-weight: bold;
  line-height: 28px;
}
.hero h2 {
  font-size: 18px;
  font-family: var(--heading-font-family);
  font-weight: normal;
  line-height: 30px;
  color: white;
}
.btn-branding {
  font-family: var(--default-font-family);
  border-radius: 50px;
  color: black;
  background: white;
  border-color: black;
  font-size: 14px;
  font-weight: bold;
  line-height: 17px;
  margin: 0px 10px;
  padding: 18px 30px;
}
.btn-branding:hover {
  text-decoration: underline;
  background: black;
  border-color: white;
  color: white;
}
.btn-branding-outline {
  font-family: var(--default-font-family);
  border-radius: 50px;
  color: black;
  background: white;
  border-color: black;
  font-size: 14px;
  font-weight: bold;
  line-height: 17px;
  margin: 0px 10px;
  padding: 18px 30px;
}
.btn-branding-outline:hover {
  text-decoration: underline;
  background: black;
  border-color: white;
  color: white;
}

.hero {
  background-image: url(images/bg1.png);
  text-align: center;
  padding: 160px 20px;
}
.project-description {
  padding: 120px 60px;
}

.content h1 {
  font-size: 64px;
  line-height: 80px;
}

.content h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}
.content h3 {
  font-size: 24px;
  font-family: var(--default-font-family);
  line-height: 1.5;
  margin: 20px 0 0;
  color: white;
}
.content-container {
  padding: 60px 20px;
}
.content {
  margin: 30px;
  text-align: center;
  padding: 0;
}
.content p {
  font-size: 14px;
  opacity: 0.8;
}

@media (max-width: 900px) {
  .project-description {
    padding: 0;
    text-align: center;
  }
  h1 {
    font-size: 44px;
    line-height: 2;
  }
  h2 {
    font-size: 44px;
  }
  h4 {
    font-size: 26px;
  }
  footer .contact-box {
    padding: 30px;
  }
  .hero {
    padding: 80px 20px;
  }
  .content-container {
    text-align: center;
    padding: 0;
  }
}
.profile-picture {
  max-width: 100%;
  width: 300px;
  height: 400px;
  margin: 40px;
  border-radius: 10px;
}

.contact-link {
  color: pink;
}
.contact-link:hover {
  color: purple;
}
.active {
  color: var(--branding-color) !important;
  font-weight: bold !important;
}
.nav-item {
  padding: 0 10px;
  line-height: 14px;
}
.source-code {
  color: pink;
}
.source-code:hover {
  color: purple;
}
